Repository inviwo/inviwo, pull requests merged in 2018-03, with the labels that each got.

#39 Update clockgl.h
  modules/opengl/clockgl.h
Labels: component: Documentation, component: OpenGL

#42 OpenGL: Enabled transparency in geometryrendering.frag
  modules/opengl/glsl/geometryrendering.frag
  modules/python3/tests/regression/numpybasicmeshcreation/Canvas.png
Labels: component: OpenGL, type: bug

#50 QtWidgets: fixed loading of settings
  modules/qtwidgets/qtwidgetssettings.cpp
Labels: type: bug
