Repository inviwo/inviwo, pull requests merged in 2024-11, with the labels that each got.

#1603 Base: refactoring of volume downsampling
  .github/workflows/inviwo.yml
  modules/base/CMakeLists.txt
  modules/base/include/modules/base/algorithm/volume/volumeramdownsample.h
  modules/base/include/modules/base/processors/volumedownsample.h
  modules/base/src/algorithm/volume/volumeramdownsample.cpp
  modules/base/src/basemodule.cpp
  modules/base/src/processors/volumedownsample.cpp
  modules/base/src/processors/volumesubsample.cpp
  modules/basegl/tests/regression/volumeboundingbox/Canvas.png
  modules/basegl/tests/regression/volumeboundingbox/Canvas2.png
  modules/basegl/tests/regression/volumeboundingbox/volumeboundingbox.inv
  modules/basegl/tests/regression/volumedownsample/averaged2.png
  modules/basegl/tests/regression/volumedownsample/averaged4.png
  modules/basegl/tests/regression/volumedownsample/nonuniform.png
  modules/basegl/tests/regression/volumedownsample/regular.png
  modules/basegl/tests/regression/volumedownsample/strided2.png
  modules/basegl/tests/regression/volumedownsample/strided4.png
  modules/basegl/tests/regression/volumedownsample/volumedownsample.inv
Labels: J: Regression Test Failure

#1610 Feature/various
  .github/actions/install-dependencies/action.yml
  include/inviwo/core/properties/marginproperty.h
  include/inviwo/core/util/colorconversion.h
  modules/plotting/CMakeLists.txt
  modules/plotting/src/plottingmodule.cpp
  modules/plottinggl/include/modules/plottinggl/plotters/persistencediagramplotgl.h
  modules/plottinggl/include/modules/plottinggl/plotters/scatterplotgl.h
  modules/plottinggl/include/modules/plottinggl/processors/axisrenderprocessor.h
  modules/plottinggl/include/modules/plottinggl/processors/imageplotprocessor.h
  modules/plottinggl/include/modules/plottinggl/processors/parallelcoordinates/parallelcoordinates.h
  modules/plottinggl/src/plotters/persistencediagramplotgl.cpp
  modules/plottinggl/src/plotters/scatterplotgl.cpp
  modules/plottinggl/src/processors/axisrenderprocessor.cpp
  modules/plottinggl/src/processors/imageplotprocessor.cpp
  modules/plottinggl/src/processors/parallelcoordinates/parallelcoordinates.cpp
  modules/plottinggl/src/processors/scatterplotprocessor.cpp
  src/core/CMakeLists.txt
  src/core/common/inviwocore.cpp
  src/core/properties/marginproperty.cpp
  src/core/tests/unittests/serialize-container-test.cpp
  src/core/util/colorconversion.cpp
  tools/meta/templates/processor.cpp
Labels: J: Regression Test Failure

#1609 Feature/glfixes
  modules/basegl/glsl/linerenderer.frag
  modules/basegl/glsl/linerenderer.geom
  modules/basegl/glsl/pointrenderer.frag
  modules/basegl/glsl/pointrenderer.vert
  modules/basegl/glsl/volumegradientmagnitude.frag
  modules/basegl/include/modules/basegl/algorithm/volumenormalization.h
  modules/basegl/include/modules/basegl/datastructures/stipplingsettings.h
  modules/basegl/include/modules/basegl/datastructures/stipplingsettingsinterface.h
  modules/basegl/include/modules/basegl/processors/volumeprocessing/volumegradientmagnitude.h
  modules/basegl/include/modules/basegl/processors/volumeprocessing/volumenormalizationprocessor.h
  modules/basegl/include/modules/basegl/shadercomponents/volumecomponent.h
  modules/basegl/src/processors/volumeprocessing/volumegradientmagnitude.cpp
  modules/basegl/src/processors/volumeprocessing/volumenormalizationprocessor.cpp
  modules/basegl/src/properties/stipplingproperty.cpp
  modules/basegl/src/shadercomponents/volumecomponent.cpp
  modules/basegl/tests/regression/imagelayer/Canvas.png
  modules/basegl/tests/regression/raycaster_with_geometry/CanvasGL.png
  modules/basegl/tests/regression/raycaster_with_geometry/CanvasGL2.png
  modules/basegl/tests/regression/raycaster_with_geometry/CanvasGL3.png
  modules/basegl/tests/regression/raycaster_with_geometry/CanvasGL4.png
  modules/basegl/tests/regression/splitimage/Canvas.png
  modules/basegl/tests/regression/tiffstackvolumereader/Canvas.png
  modules/dataframe/tests/regression/dataframefiltering/Canvas2.png
  modules/oit/glsl/oit-linerenderer.frag
  modules/opengl/CMakeLists.txt
  modules/opengl/glsl/utils/colorconversion.glsl
  modules/opengl/include/modules/opengl/buffer/bufferobject.h
  modules/opengl/include/modules/opengl/shader/shaderutils.h
  modules/opengl/src/shader/shaderutils.cpp
  modules/plottinggl/include/modules/plottinggl/rendering/boxselectionrenderer.h
  modules/plottinggl/src/rendering/boxselectionrenderer.cpp
  modules/plottinggl/tests/regression/axiscombinationtest/VolumeAxis2.png
  modules/plottinggl/tests/regression/axistest2d/VolumeAxis3.png
  modules/plottinggl/tests/regression/axisvolumetric/VolumeAxis2.png
  modules/plottinggl/tests/regression/imageplot/Canvas.png
  modules/plottinggl/tests/regression/units/VolumeAxis2.png
  modules/plottinggl/tests/regression/volumeaxisscaling/downscaled.png
  modules/plottinggl/tests/regression/volumeaxisscaling/regular.png
  modules/plottinggl/tests/regression/volumeaxisscaling/upscaled.png
  modules/postprocessing/CMakeLists.txt
  modules/postprocessing/glsl/colortools.glsl
  modules/postprocessing/glsl/huesaturationluminance.frag
  modules/postprocessing/tests/regression/image-hue-saturation-luminance/Canvas.png
  modules/userinterfacegl/include/modules/userinterfacegl/processors/gluiprocessor.h
  modules/userinterfacegl/src/processors/gluiprocessor.cpp
  modules/userinterfacegl/tests/regression/cropvolume/CanvasGL.png
Labels: J: Integration Test Failure, J: Regression Test Failure

#1605 AnimationQt: Add support for using a presentation clicker
  modules/animation/include/modules/animation/animationcontroller.h
  modules/animation/include/modules/animation/datastructures/animation.h
  modules/animation/include/modules/animation/datastructures/basekeyframesequence.h
  modules/animation/include/modules/animation/datastructures/basetrack.h
  modules/animation/include/modules/animation/datastructures/keyframesequence.h
  modules/animation/include/modules/animation/datastructures/track.h
  modules/animation/src/animationcontroller.cpp
  modules/animation/src/datastructures/animation.cpp
  modules/animation/src/datastructures/controlkeyframe.cpp
  modules/animation/src/datastructures/keyframesequence.cpp
  modules/animation/tests/unittests/track-test.cpp
  modules/animationqt/include/modules/animationqt/animationeditordockwidgetqt.h
  modules/animationqt/src/animationeditordockwidgetqt.cpp
  modules/animationqt/src/animationeditorqt.cpp
  modules/qtwidgets/src/inviwodockwidget.cpp
  modules/qtwidgets/src/inviwodockwidgettitlebar.cpp
  modules/qtwidgets/src/tf/tfpropertydialog.cpp
Labels: J: Regression Test Failure, J: Auto Format
